.home-header {
  &__image,
  &__texts {
    margin: 0 auto;
  }

  &__image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 625px;
    margin: 50px 0;
  }

  &__texts {
    font-family: $font-karla;
    font-weight: $font-weight-bold;
    font-size: $font-size-header-2;
    height: 140px;
    width: 625px;

    > * {
      margin-bottom: 10px;
    }
  }

  &__label {
    white-space: nowrap;
  }

  &__changing-text {
    word-break: break-all;

    .home-header__typewriter {
      color: $body-accent-color;
    }
  }
}
