.project-list {
  position: relative;
  width: 652px;
  margin: 125px auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 213px auto 209px;
  grid-gap: 10px;

  &__card {
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;

    > img {
      position: absolute;
    }

    &#event-planner {
      background-color: #b4c5dc;
      grid-column: 1 / -1;
      height: 204px;
    }

    &#wisely {
      background-color: #a7b77d;
      grid-row: 2 / span 2;
      height: 414px;
    }

    &#cocktail-finder {
      background-color: #fad8a8;
      grid-column: 2 / -1;
      height: 189px;

      img {
        width: 132px;
        top: 27px;
        right: 34px;
      }
    }

    &#healthy-campus-initiative {
      background-color: #ffd200;
      grid-column: 2 / -1;
      height: 216px;

      img {
        width: 145px;
        top: 34px;
        right: 20px;
      }
    }

    &#scrapyard {
      background-color: #800080;
      grid-column: 1 / span 2;
      height: 189px;
    }

    &#seance {
      background-color: #2a1322;
      height: 189px;

      img {
        width: 116px;
        bottom: -29px;
        right: 48px;
      }
    }
  }

  &__project-name {
    color: $body-font-color-white;
    font-family: $font-montserrat;
    font-weight: $font-weight-black;
    font-size: $font-size-header-2;
    letter-spacing: 2px;
    z-index: 5;
  }

  &__project-description {
    color: $body-accent-color-red;
  }
}
