.skills {
  &__card {
    margin-bottom: 50px;
  }

  &__title {
    font-size: $font-size-header-2;
    color: $body-accent-color-red;
    font-weight: $font-weight-bold;
    margin-bottom: 15px;
  }

  &__list {
    max-width: 644px;
    min-width: 580px;
    font-size: $font-size-header-2;
    letter-spacing: 1px;
    line-height: $line-height-small-gap;
  }
}
