#navbar,
#id,
#footer {
  position: relative;
  margin: 0 auto;
}

#navbar {
  height: 100px;
  overflow: hidden;
  width: 90%;
}

#footer {
  margin-bottom: 25px;
  width: 300px;
  text-align: center;
}
