$max-body-width: 1152px;
$min-body-width: 700px;
$background-color: #f8f8fa;
$body-font-color-white: #f8f8fa;
$body-font-color: #333333;
$body-accent-color: #fd8a5b;
$body-accent-color-red: #fd615b;
$body-accent-color-grey: #bdbdbd;

$breakpoint-desktop: 1070px;

@mixin desktop-medium {
  @media only screen and (max-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin desktop-large {
  @media only screen and (min-width: 1071px) {
    @content;
  }
}

// ===============
// Extend
// ===============

%center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%centerX-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%centerY-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// @todo: ensure that font family works as variable
%font-montserrat-style {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

// ===============
// Extra Classes
// ===============
.image-container {
  overflow: hidden;
}

// @todo: ensure that font size works as variable
// @todo: ensure that font color works as variable
.section-label {
  @extend %font-montserrat-style;
  font-size: 64px;
  color: #fd8a5b;
  margin-bottom: 75px;
}

// ===============
// Mixins
// ===============

@mixin initialize-grid($grid-gap) {
  display: grid;
  grid-gap: $grid-gap;
}
