@import "utils";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  max-width: $max-body-width;
  min-width: $min-body-width;
  background-color: $background-color;
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  color: $body-font-color;
}
