@import "utils";

.big-button-container {
  display: block;
  background-color: $body-accent-color;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 100px;
  color: $body-font-color-white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 64px;
  cursor: pointer;
}

.unavailable {
  background-color: $body-accent-color-grey;
}
