@import "utils";

.experiences-container {
  .experience-container {
    position: relative;
    width: 100%;
    margin-bottom: 50px;

    h4 {
      font-size: 24px;
      margin-bottom: 3px;
    }

    h6 {
      font-size: 18px;
      font-weight: 400;
      color: $body-accent-color-grey;
    }

    ul {
      margin: 50px 0;
      padding-left: 75px;

      li {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}
