@import "utils";

.projects-container {
  position: relative;
  width: 625px;
  margin: 125px auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;

  .project-container {
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;

    h3 {
      color: $body-font-color-white;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 36px;
      letter-spacing: 3px;
    }

    p {
      color: $body-accent-color-red;
    }

    &#event-planner {
      background-color: #b4c5dc;
      grid-column: 1 / -1;
      height: 204px;
    }

    &#wisely {
      background-color: #a7b77d;
      grid-row: 2 / span 2;
      height: 414px;
    }

    &#cocktail-finder {
      background-color: #fad8a8;
      grid-column: 2 / -1;
      height: 189px;
    }

    &#healthy-campus-initiative {
      background-color: #ffd200;
      grid-column: 2 / -1;
      height: 216px;
    }

    &#scrapyard {
      background-color: #800080;
      grid-column: 1 / span 2;
      height: 189px;
    }

    &#seance {
      background-color: #2a1322;
      height: 189px;
    }
  }
}
