@import "utils";

.header-image {
  position: relative;
  width: 652px;
  height: 303px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;

  img {
    position: absolute;
    top: -116px;
    left: -85px;
    transform: scale(1.06);
  }
}

.header-texts {
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 36px;
  width: 100%;

  > * {
    margin-bottom: 10px;
  }

  p {
    text-align: center;
  }

  div {
    position: relative;
    width: 626px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .typewriter {
    color: $body-accent-color;
  }
}
