@import "utils";

.navbar-container {
  position: relative;
  // width: 100%;
  height: 100px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;

  > * {
    cursor: pointer;
  }

  .navlink {
    position: absolute;
    font-weight: 700;
    font-size: 19px;
    top: 50%;
    transform: translateY(-50%);

    &#about {
      right: 0;
    }

    &#work {
      right: 150px;
    }

    a:hover {
      color: $body-accent-color-red;
    }
  }

  .logo {
    position: relative;
    height: 131%;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
  }
}
