@import "utils";

@include desktop-medium {
  .profile-overview-container {
    height: auto;
    .image-container {
      grid-row: 1;
      width: 100%;
      height: 500px;

      img {
        bottom: 0;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .text-container {
      grid-row: 2;
    }
  }
}

@include desktop-large {
  .profile-overview-container {
    height: 660px;
    .image-container {
      grid-column: 1;
      grid-row: 1 / span 4;
      width: 401px;

      img {
        top: -82px;
        width: 517px;
        transform: scale(1.15);
      }
    }

    .text-container {
      grid-column: 2;
    }
  }
}

.profile-overview-container {
  width: 85%;
  margin-top: 75px;
  margin-bottom: 75px;
  display: grid;
  grid-column-gap: 25px;

  .image-container {
    position: relative;

    overflow: hidden;

    img {
      position: absolute;
    }
  }

  .text-container {
    box-sizing: border-box;
    padding: 10px;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 64px;
      color: $body-accent-color;
      letter-spacing: 3px;
      margin: 10px 0;
      margin-bottom: 15px;
    }

    h3 {
      margin: 10px 0;
      margin-bottom: 35px;
      letter-spacing: 3px;
    }

    p {
      font-size: 18px;
      line-height: 2.25;
      margin-bottom: 50px;

      span {
        color: $body-accent-color;

        &:first-child {
          font-weight: 700;
        }
      }
    }

    .external-link-about {
      .icon {
        margin-right: 15px;
      }
    }
  }
}
