@import "utils";

.projects-container {
  position: relative;
  width: 652px;
  margin: 125px auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;

  .project-container {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;

    img {
      position: absolute;
    }

    h3 {
      color: $body-font-color-white;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 36px;
      letter-spacing: 3px;
      z-index: 5;
    }

    p {
      color: $body-accent-color-red;
    }

    &#event-planner {
      background-color: #b4c5dc;
      grid-column: 1 / -1;
      height: 204px;
    }

    &#wisely {
      background-color: #a7b77d;
      grid-row: 2 / span 2;
      height: 414px;
    }

    &#cocktail-finder {
      background-color: #fad8a8;
      grid-column: 2 / -1;
      height: 189px;

      img {
        width: 132px;
        top: 27px;
        right: 22px;
      }
    }

    &#healthy-campus-initiative {
      background-color: #ffd200;
      grid-column: 2 / -1;
      height: 216px;

      img {
        width: 130px;
        top: 34px;
        right: 12px;
      }
    }

    &#scrapyard {
      background-color: #800080;
      grid-column: 1 / span 2;
      height: 189px;
    }

    &#seance {
      background-color: #2a1322;
      height: 189px;

      img {
        width: 116px;
        bottom: -29px;
        right: 12px;
        transform: translateX(-50%);
      }
    }
  }
}
