@import "utils";

.individual-project-container {
  > * {
    width: 85%;
    margin: 0 auto;
    position: relative;
  }

  > h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: $body-accent-color;
    margin-top: 75px;
    margin-bottom: 75px;
    letter-spacing: 3px;
  }

  > h3 {
    font-size: 36px;
    font-weight: 700;
    color: $body-accent-color-red;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }

  .project-description {
    font-size: 18px;
    margin-bottom: 50px;

    > p {
      line-height: 1.5;
      margin-bottom: 15px;
    }

    .note {
      color: $body-accent-color-grey;
      font-style: italic;
    }
  }

  > h4 {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: 400;
  }

  .website-mockup-images-container {
    > div {
      position: relative;
      width: 100%;
      margin-bottom: 70px;

      img {
        position: relative;
        width: 100%;
        background-color: lightgray;
      }

      p {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: $body-accent-color-red;
        margin-top: 20px;
      }
    }
  }

  .project-button-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;

    > button {
      font-size: 36px;
    }
  }

  .project-footer-text {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: $body-accent-color-grey;
    margin-bottom: 50px;

    span {
      color: $body-accent-color-red;
    }
  }
}
