@import "utils";

.skills-container {
  .skill-container {
    margin-bottom: 50px;
    h3 {
      margin-bottom: 15px;
    }
    p {
      width: 644px;
      font-size: 36px;
      letter-spacing: 2px;
      line-height: 1.15;
    }
  }
}
